<!DOCTYPE html>
{% load static %}
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="demo django project YaTube">
        <meta name="author" content="Daniil Petrov, Lev Tolstoy">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{% static 'img/fav/fav.ico' %}" type="image">
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="{% static 'img/fav/apple-touch-icon.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="{% static 'img/fav/favicon-32x32.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="{% static 'img/fav/favicon-16x16.png' %}">
        <meta name="msapplication-TileColor" content="#000">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link href="{% static 'css/album.css' %}" rel="stylesheet">
        <title>
            {% block title %}ЗАГОЛОВОК НЕ ПОДГРУЖЕН!{% endblock %}
        </title>
    </head>
    <body>
        <header>
            {% block header %}
                {% include 'includes/header.html' %}
            {% endblock %}
        </header>
        <main role="main">
            {% block content %}Контент не подвезли :({% endblock %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                    crossorigin="anonymous"></script>
            <script>window.jQuery || document.write('<script src="{% static "js/jquery-3.2.1.slim.min.js" %}"><\/script>')</script>
            <script src="{% static 'js/popper.min.js' %}"></script>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
            <script src="{% static 'js/holder.min.js' %}"></script>
            <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
                    integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D"
                    crossorigin="anonymous"
                    async></script>
        </main>
        <footer class="footer mt-auto py-3 bg-light">
            {% include "includes/footer.html" %}
        </footer>
    </body>
</html>
