{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
    <div class="container">
        <br/>
        <h3>Привет, меня зовут Даниил Петров,</h3>
        <p>
            и я веб-дизайнер, любящий создавать
            привлекательные и удобные для пользователей веб-сайты. Я всегда учусь и
            расширяю свои навыки, чтобы предоставлять своим заказчикам наилучшие услуги.
            Но давайте я расскажу вам историю о том, как я стал веб-дизайнером, которым
            являюсь сегодня.
        </p>
        <p>
            Все началось в детстве, когда я посещал Вальдорфскую школу в
            Санкт-Петербурге. Во время учебы там у меня была возможность возглавить
            социальный проект с Германией под названием "Nachtasyl", который помогал
            бездомным и беспризорным детям. Этот опыт научил меня важности сочувствия и
            сострадания в моей жизни и работе и вдохновляет меня по сей день.
        </p>
        <p>
            В университете я получила степень бакалавра коммерции по специальности
            "Антикризисное управление", где я оттачивала свои навыки лидерства и решения
            проблем. Во время учебы в университете я также был председателем студенческого
            совета университета, что дало мне еще больше возможностей развить свои
            лидерские и коммуникативные навыки.
        </p>
        <p>
            После окончания университета я начал свой путь в качестве веб-дизайнера и обнаружил свою страсть к созданию веб-сайтов,
            которые помогают бизнесу добиться успеха. Я отвечала за разработку визуальной
            и лингвистической идентичности бренда, проектирование веб-сайтов, создание
            логотипов и символов. Мои навыки в области поисковой оптимизации и векторной
            графики также помогли мне создать сайты, которые не только отлично выглядят,
            но и занимают высокие позиции в поисковых системах.
        </p>
        <p>
            А сейчас я перехожу на новый уровень, изучая язык Python, чтобы расширить свои возможности в создании
            динамического контента и пользовательских ботов поддержки.
        </p>
        <p>
            Но моя страсть к искусству и творчеству не ограничивается только веб-дизайном. Я также являюсь
            соучредителем фестиваля "August Black", где мы празднуем свободу творчества и
            расширяем границы возможного в мире перформанса. Каждый август мы проводим
            широкий спектр выступлений, записываем подкаст и занимаемся активизмом в
            поддержку артистического сообщества. Это по-настоящему независимый фестиваль и
            театральная лаборатория, движимая нашей страстью к искусству.
        </p>
        <p>
            Поэтому, если вы ищете преданного, творческого веб-дизайнера, увлеченного искусством, я буду
            рад обсудить ваш проект и то, чем я могу помочь. Спасибо, что нашли время
            прочитать мою историю.
        </p>
    </div>
{% endblock %}
