{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <h1>Вот что я умею</h1>
            <aside class="col-12 col-md-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Python</li>
                    <li class="list-group-item">Django</li>
                    <li class="list-group-item">GitHub</li>
                    <li class="list-group-item">VSCode</li>
                    <li class="list-group-item">WordPress</li>
                    <li class="list-group-item">Illustrator</li>
                    <li class="list-group-item">Figma</li>
                    <li class="list-group-item">ChatGPT prompt writing</li>
                </ul>
            </aside>
            <article class="col-12 col-md-9">
                <p>Как веб-дизайнер, я обладаю обширным опытом и знаниями в области различных технологий и инструментов, включая:</p>
                <p>
                    Python: Я изучаю Python с декабря 2022 года и постоянно расширяю свои знания в этом динамичном языке программирования.
                </p>
                <p>
                    Django: Я умею использовать Django в качестве веб-фреймворка для создания высококачественных и масштабируемых веб-приложений.
                </p>
                <p>GitHub: Я опытный пользователь GitHub, мощной платформы для контроля версий и совместной работы.</p>
                <p>
                    Visual Studio Code: Я использую VSCode в качестве предпочтительного редактора кода, поскольку он обеспечивает плавный и эффективный опыт кодирования и отладки.
                </p>
                <p>
                    WordPress: Я имею прочную основу в WordPress, самой популярной системе управления контентом, и могу создавать пользовательские темы и плагины для улучшения функциональности веб-сайтов.
                </p>
                <p>
                    Illustrator: Я хорошо знаю Adobe Illustrator, программу для работы с векторной графикой, и могу с легкостью создавать логотипы, символы и печатные материалы.
                </p>
                <p>
                    Figma: я умею использовать Figma, инструмент проектирования пользовательского интерфейса, для создания отзывчивых и удобных веб-сайтов.
                </p>
                <p>
                    Написание подсказок для ChatGPT: У меня есть опыт написания подсказок для языковой модели OpenAI GPT-3 для создания пользовательских ботов поддержки для веб-сайтов.
                </p>
                <p>
                    Обладая обширными знаниями и опытом работы с этими технологиями и инструментами, я уверен в своей способности предоставлять высококачественные и эффективные услуги веб-дизайна своим клиентам. Спасибо, что нашли время посетить страницу моих знаний в области технологий.
                </p>
            </article>
        </div>
    </div>
{% endblock %}
