{% extends "base.html" %}
{% block title %}Профайл пользователя {{ author.username }}{% endblock %}
{% block content %}
  <div class="container py-5">
    {{ profile }}
    <h1 class="text-center my-3">Все посты пользователя {{ author.username }}</h1>
    <h5 class="text-center my-3">Всего постов: {{ post_count }}</h5>
    <h5 class="text-center my-3">Количество подписок: {{ author.follower.count }}</h5>
    <h5 class="text-center my-3">Количество подписчиков: {{ author.following.count }}</h5>
    {% if user.is_authenticated and user != author %}
      {% if following %}
        <a
          class="btn btn-lg btn-light"
          href="{% url 'posts:profile_unfollow' author.username %}" role="button"
        >
          Отписаться
        </a>
      {% else %}
        <a
          class="btn btn-lg btn-primary"
          href="{% url 'posts:profile_follow' author.username %}" role="button"
        >
          Подписаться
        </a>
      {% endif %}
    {% endif %}
    <div class="row" data-masonry='{"percentPosition": true }'>
      {% for post in page_obj %}
        {% include 'posts/includes/post_card.html' with profile_link_flag=True %}
      {% endfor %}
      {% include 'posts/includes/paginator.html' %}
    </div>
  </div>
{% endblock %}
